.root {
-fx-background-color: "GRAY";
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#444444, #777777);
    -fx-border-color: white;
    -fx-border-width: 1;
}
.button:hover {
    -fx-background-color: linear-gradient(#777777, #444444);
}

#tdlabel {
    -fx-font-size: 40px;
    -fx-font-family: "Arial Black";
}

#welcomelabel {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
}